.postDateMore {
    color: #606060;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 18px;
    margin-bottom: 18px;
}
.postDateMore li{
    display: inline-block;
    border-right: solid 1px #d9d9d9;
    padding-right: 11px;
    margin-right: 11px;
}
.postDateMore li:last-child{
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}
.postDateImg,
.postTagImg {
    margin-right: 5px;
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}

.postDateImg,
.postTagImg {
    margin-right: 5px;
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}

.postDateImg {
    width: 18px;
}

.postTagImg {
    width: 14px;
}

.loadPage{
    background-image: url('/images/train-error.jpg');
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 616px;
    text-align: center;
    padding: 30px 0;
    font-style: normal;
    line-height: normal;
    color: #ffffff; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
}
.loadPageSpin {
    border-width: 1px;
    height: 3rem;
    width: 3rem;
    color: #ffffff;
}

.contentBasic{ font-size: 15px;color: #666666; letter-spacing: 0.4px;} 
.contentBasic ol,.contentBasic ul{
    padding-left: 4px;
    margin-bottom: 30px;
}
.contentBasic p strong{
    color: #000000;
}
.contentBasic ol{list-style-type: decimal;}
.contentBasic ul{list-style-type: square;}
.contentBasic ul li, .contentBasic ol li{ font-size: 15px; margin-left: 23px; margin-bottom: 6px; }
.contentBasic, .contentBasic p{ line-height: 1.75}
.contentBasic h1{font-size: 160%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.contentBasic h2{font-size: 150%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.contentBasic h3{font-size: 140%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.contentBasic h4{font-size: 130%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.contentBasic h5{font-size: 120%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.contentBasic h6{font-size: 110%; font-weight: 700; margin-bottom: 8px; margin-top: 45px;color: #000000;}
.font-semibold { font-weight: 600 !important; }
.contentBasic h1:first-child{ margin-top: 0px;}
.contentBasic h2:first-child{ margin-top: 0px;}
.contentBasic h3:first-child{ margin-top: 0px;}
.contentBasic h4:first-child{ margin-top: 0px;}
.contentBasic h5:first-child{ margin-top: 0px;}
.contentBasic h6:first-child{ margin-top: 0px;}
.contentBasic h1::first-letter{ text-transform: capitalize;}
.contentBasic h2::first-letter{ text-transform: capitalize;}
.contentBasic h3::first-letter{ text-transform: capitalize;}
.contentBasic h4::first-letter{ text-transform: capitalize;}
.contentBasic h5::first-letter{ text-transform: capitalize;}
.contentBasic h6::first-letter{ text-transform: capitalize;}