a.chpButton {
    border-radius: 4px;
    border: 1px solid #e9e6e6;
    background: #ffffff;
    padding: 20px 25px;
    color: #363535;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 100%;
}


.colUpdateChp {
    width: 30px;
    min-width: 30px;
    border-radius: 50px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s
}

a.chpButton:hover {
    background: #DCF4F5;
    border-color: #DCF4F5;
}

a.chpButton:hover img {
    box-shadow: 0 0 0 1px rgb(255 255 255 / 18%);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.chpSpaceleft {
    padding-left: 16px;
}

.chpRow {
    margin: 0 -12px -35px;
}

.colUpdate {
    padding: 0 12px 35px;
}



@media only screen and (max-width:1299px) {
    a.chpButton {
        padding: 15px 20px;
        font-size: 16px;
    }

    .chpRow {
        margin: 0 -10px -30px;
    }

    .colUpdate {
        padding: 0 10px 30px;
    }

    .chpSpaceleft {
        padding-left: 14px;
    }
}

@media only screen and (max-width:991px) {
    a.chpButton {
        padding: 15px;
        font-size: 15px;
    }

    .chpSpaceleft {
        padding-left: 12px;
    }
}


@media only screen and (max-width:767px) {
    a.chpButton {
        font-size: 14px;
    }

    .chpRow {
        margin: 0 -10px -20px;
    }

    .colUpdate {
        padding: 0 10px 20px;
    }
}

@media only screen and (max-width:575px) {
    .chpRow {
        margin: 0 -6px -15px;
    }

    a.chpButton {
        padding: 15px 12px;
        font-size: 15px;
        text-align: center;
    }

    .colUpdate {
        padding: 0 6px 15px;
    }

    .chpSpaceleft {
        padding-left: 0;
    }
}

@media only screen and (max-width:375px) {
    a.chpButton {
        text-align: left;
        font-size: 14px;
    }

    .chpSpaceleft {
        padding-left: 12px;
    }

    .colUpdateChp {
        width: 26px;
        min-width: 26px;
    }
}