h4.sectionbxTitle{
    color: #000; 
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    text-align: left;
    display: inline-block;
    position: relative;
}
 
.sectionbxImg{
    position: absolute;
    margin-left: 42px;
    top: 100%;
    margin-top: 6px;
    max-width: none;
    display: inline-block;
    height: 7px;
}
.sectionbxImg span{
    position: static !important;
}
.sectionbxImg.subLineCenter{
    margin-left: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
            transform: translateX(-50%);
}


.subtitleHead{
    font-weight: 500;
    font-size: 16px;
    margin: 16px auto;
    max-width: 600px;
    line-height: 1.4;
}



@media only screen and (max-width:1199px) {
    h4.sectionbxTitle{
        font-size: 28px;
    }
    .sectionbxImg{
           width: 150px;
           margin-left: 30px;
    }
}

@media only screen and (max-width:991px) {
    h4.sectionbxTitle{
        font-size: 24px;
    }
    .sectionbxImg{
           width: 130px;
           margin-left: 25px;
    }
    .subtitleHead{ 
        font-size: 15px;  
    }
    
}

@media only screen and (max-width:767px) {
    h4.sectionbxTitle{
        font-size: 22px;
    }
    .sectionbxImg{
           width: 100px;
           margin-left: 20px;
    }
    .subtitleHead{ 
        font-size: 14px;  
        max-width: 400px;
    }
} 

@media only screen and (max-width:575px) {
    .subtitleHead{ 
        font-size: 13px;  
      
    }
}