.ButtonGreen{
    color: #ffffff; 
font-size: 17px;
font-style: normal;
font-weight: 500; 
padding: 10px 17px;
border-radius: 10px;
background: #11827B;
min-width: 150px;
}

.ButtonGreen:hover,
.ButtonGreen:focus,
.ButtonGreen:active{
    background: #0C5853;
    box-shadow: none;
    color: #ffffff; 
}


@media only screen and (max-width:767px) {
    .ButtonGreen{
        font-size: 16px;
    }
}
@media only screen and (max-width:575px) {
    .ButtonGreen{
        font-size: 15px;
        min-width: 130px;
    }
}