
html {
  font-display: swap;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top)
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  word-break: break-word;
  font-display: swap; 
  background: #fbfbfb; 
}

body { scrollbar-face-color: #c1c7d0; scrollbar-track-color:  #ffffff }
::-webkit-scrollbar { width: 12px; height: 10px }
::-webkit-scrollbar-thumb { background: #c1c7d0; border-radius: 80px; border: solid 3px  #ffffff; min-height: 150px; cursor: pointer; }
::-webkit-scrollbar-thumb:hover { background: #b2bac5 }
::-webkit-scrollbar-track { background-color:  #ffffff }


.btn, .btn:focus, a, a:focus, button, button:focus, input, input:focus, select, select:focus, textarea, textarea:focus {
  outline: 0
}

select {
  cursor: pointer
}

a, a:focus, a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.btn, a, button {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s
}

body, html {
  height: 100%;
  margin: 0
}

img {
  max-width: 100%;
  height: auto
}

.mt-58{
  margin-top: 58px;
}
.mt-35{
  margin-top: 35px;
}

 

*, img { 
  image-rendering: -webkit-optimize-contrast
}

@media(min-width:1260px) {
  .container {
      max-width: 1229px
  }
} 

@media(max-width:991px) {
  ::-webkit-scrollbar {
      width: 2px;
      height: 10px
  }
}